* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Roboto, Arial, sans-serif;
}
.flip-nav {
  max-width: 100%;
  height: 100%;
  background: #2874f0;
  position: relative;
}
.flip-wrapper {
  max-width: 76%;
  height: 56px;
  color: #f0f0f0;
  z-index: 10;
  margin: auto;
  display: flex;
  align-items: center;
}
.left-flip-log {
  display: flex;
  margin-left: 1.4rem;
  flex-direction: column;
  white-space: nowrap;
}
.flip-explore-text {
  align-items: center;
  display: block;
  white-space: nowrap;
  margin-top: -9px;
}
.flip-svg {
  width: 6.4rem;
  margin: 0;
  padding: 0;
  line-height: 1.1;
}
.flip-explore-text a {
  font-size: 11px;
  font-style: italic;
  color: #f0f0f0;
  margin-top: -2px;
  letter-spacing: 0;
}
.flower {
  width: 0.5rem;
  filter: brightness(1.5);
  margin-left: -4px;
  padding: 0;
  margin: 0;
}
.flip-explore-text span {
  color: #ffe500;
  font-size: 11px;
  font-style: italic;
  font-weight: 600;
  margin-left: -3px;
  cursor: pointer;
}
.flip-explore-text:hover {
  text-decoration: underline;
}
.search-container {
  width: 56.2%;
  margin-left: -0.9rem;
  display: flex;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
}
.search-container input {
  width: 100%;
  height: 2.2rem;
  font-size: 14px;
  padding-top: 12px;
  padding-left: 15px;
  padding-bottom: 12px;
  padding-right: 12px;
  border: none;
  outline: none;
  border-radius: 2px 0 0 2px;
  background-color: #fff;
}
::-webkit-input-placeholder {
  font-size: 13px;
  letter-spacing: 0.5px;
  background: transparent;
}
.search:focus {
  outline: none;
}
.search-button svg {
  fill: #2874f0 !important;
  border: 1px solid #fff;
  background-color: #fff;
  height: 32px;
  width: 41px;
  border-radius: 2px;
  padding: 4px 12px 0 8px;
}
.search-button {
  border: none;
  background: none;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: all 0.3s;
}
.login-wrapper {
  margin-left: 3.7rem;
  cursor: pointer;
}
.login-container {
  background: #fff;
  color: #2874f0;
  font-weight: 700;
  font-size: 15px;
  padding: 7px 41px;
  white-space: nowrap;
}
.drop-menu-content {
  background-color: #fff;
  border: 1px solid transparent;
  width: 100%;
  position: absolute;
  z-index: 999;
  left: 0;
  top: 2.7rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
}
.flip-more {
  margin: 0 2.5rem;
  cursor: pointer;
  display: block;
}
.text-more {
  font-size: 15px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.arrow-flex {
  display: flex;
}
.dwon-arrow-svg {
  width: 0.3rem;
  fill: #f0f0f0;
  transform: rotate(270deg);
  margin: 1px 0 0 7px;
  transition: all 0.1s;
}
.dwon-arrow-svg:hover {
  transform: rotate(90deg);
}
.cart-content {
  display: flex;
  cursor: pointer;
}
.cart-text {
  display: flex;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.add-cart-svg {
  width: 1rem;
  fill: #fff;
  display: flex;
  margin-right: 10px;
}
.flip-navigation-menu {
  background: #fff;
  min-height: 40px;
  position: relative;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
}
.navigation {
  max-width: 90%;
  height: 40px;
  margin: auto;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.navigation li {
  list-style: none;
}
.navigation li a {
  color: #000000;
  font-size: 13px;
  line-height: 1.4;
  padding-bottom: 20px;
  letter-spacing: 0;
  font-weight: 600;
}
.navigation li a:hover {
  color: #2874f0;
}
.navigation-svg {
  fill: #878787;
  opacity: 0.5;
  margin-left: 5px;
  transform: rotate(270deg);
}
.navigation-svg:hover {
  transform: rotate(90deg);
  opacity: 1;
  fill: #2874f0;
}
.electric-drop-menu {
  background-color: #fff;
  border: 1px solid transparent;
  width: 95%;
  position: absolute;
  z-index: 999;
  left: 30px;
  top: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
}
.electronic-drop-down:hover .electric-drop-menu {
  display: block;
}
.drop-down-details {
  margin: 10px 20px;
  display: flex;
}
.drop-down-details li a:hover {
  color: #878787;
}
.section-1 {
  width: 22%;
}
.heading {
  font-size: 13px;
  padding: 8px 0;
  color: #212121;
  font-weight: 500;
}
.section-1 li {
  padding: 5px 0;
}
.section-1 li a {
  color: #878787;
  font-size: 12px;
}
.section-2 {
  width: 22%;
}
.section-2 li {
  padding: 5px 0;
}
.section-2 li a {
  color: #878787;
  font-size: 12px;
}
.section2-heading {
  font-size: 13px;
  color: #212121;
  font-weight: 600;
}
.section-3 {
  width: 22%;
}
.section-3 li {
  padding: 5px 0;
}
.section-3 li a {
  color: #878787;
  font-size: 12px;
}
.section-4 {
  width: 22%;
}
.section-4 li {
  padding: 5px 0;
}
.section-4 li a {
  color: #878787;
  font-size: 12px;
}
.section-5 {
  width: 22%;
}
.section-5 li {
  padding: 5px 0;
}
.section-5 li a {
  color: #878787;
  font-size: 12px;
}
.tv-drop-menu {
  background-color: #fff;
  border: 1px solid transparent;
  width: 95%;
  position: absolute;
  z-index: 999;
  left: 30px;
  top: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
}

.tv-drop-down:hover .tv-drop-menu {
  display: block;
}
.men-drop-menu {
  background-color: #fff;
  border: 1px solid transparent;
  width: 95%;
  position: absolute;
  z-index: 999;
  left: 30px;
  top: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
}
.men-drop-down:hover .men-drop-menu {
  display: block;
}
.women-drop-menu {
  background-color: #fff;
  border: 1px solid transparent;
  width: 95%;
  position: absolute;
  z-index: 999;
  left: 30px;
  top: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
}
.women-drop-down:hover .women-drop-menu {
  display: block;
}
.baby-drop-menu {
  background-color: #fff;
  border: 1px solid transparent;
  width: 95%;
  position: absolute;
  z-index: 999;
  left: 30px;
  top: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
}
.baby-drop-down:hover .baby-drop-menu {
  display: block;
}
.home-drop-menu {
  background-color: #fff;
  border: 1px solid transparent;
  width: 95%;
  position: absolute;
  z-index: 999;
  left: 30px;
  top: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
}
.home-drop-down:hover .home-drop-menu {
  display: block;
}
.sports-drop-menu {
  background-color: #fff;
  border: 1px solid transparent;
  width: 95%;
  position: absolute;
  z-index: 999;
  left: 30px;
  top: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
}
.sports-drop-down:hover .sports-drop-menu {
  display: block;
}
.flip-side-nav-larger {
  max-width: 100%;
  margin: auto;
  padding: 8px;
  background: #f0f0f0;
  display: flex;
  gap: 10px;
}
.filter-col {
  max-width: 280px;
  background: #fff;
  padding: 8px;
  display: flex;
  flex-flow: column;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
}
.filter-text {
  padding: 13px;
  padding-bottom: 12px;
  color: #212121;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 1px solid #f0f0f0;
}
.category-col {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
}
.text-1 {
  font-size: 12px;
  padding: 5px;
  font-weight: 600;
  text-transform: uppercase;
  color: #212121;
}
.left-svg {
  padding: 5px;
}
.left-svg svg {
  fill: #878787;
}
.left-svg a {
  color: #878787;
  font-size: 15px;
}
.text-2 {
  padding: 5px;
  color: #212121;
  font-weight: 500;
  font-size: 10px;
  margin-left: 15px;
}
.price-tab {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
}
.letter-price {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  display: inline-block;
}
.pyramid-price {
  height: 25px;
}
.pyramid-2 {
  position: relative;
  height: 100%;
}
.pyramid-bar {
  height: 9.375px;
  width: 21.5282px;
  background: #e0e0e0;
  display: inline-block;
}
.pyramid-bar {
  height: 9.375px;
  width: 21.5282px;
  background: #e0e0e0;
  display: inline-block;
}
.pyramid-bar-2 {
  height: 21.875px;
  width: 21.5282px;
  background: #e0e0e0;
  display: inline-block;
}
.pyramid-bar-3 {
  height: 25px;
  width: 21.5282px;
  background: #e0e0e0;
  display: inline-block;
}
.pyramid-bar-3 {
  height: 12.5px;
  width: 21.5282px;
  background: #e0e0e0;
  display: inline-block;
}
.line-border {
  border: 3px solid #2874f0;
  position: relative;
  top: -5px;
  cursor: pointer;
}
.circle-line {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid #bababa;
  position: absolute;
  background-color: #fff;
  top: -5.5px;
  left: -8px;
}
.circle-line-2 {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid #bababa;
  position: absolute;
  background-color: #fff;
  top: -2.5px;
  right: -226px;
}
.doted-pyramid {
  margin-top: 5px;
}
.dotes {
  display: inline-block;
  cursor: pointer;
  width: 21.5282px;
  text-align: left;
  color: #c2c2c2;
}
.option-min {
  display: flex;
  color: #a3a3a3;
  margin: 5px -4px 0;
}
.drop-down label {
  display: block;
  margin-bottom: 8px;
  margin-left: 2px;
  font-size: 12px;
}
.dropdown-footer {
  color: #1a1a1f;
  line-height: 1.2;
  font-size: 16px;
  padding: 2px 10px;
  background-color: #fff;
  height: 24px;
  border-radius: 1px;
  border: 1px solid #e0e0e0;
  outline: none;
}
.dropdown-footer:active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.14);
}
.min-max-text {
  padding: 2px 10px;
}
.assure-flip {
  padding: 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}
.assure-image {
  margin-left: 1rem;
}
.question-ic span {
  border-radius: 50%;
  background-color: #fff;
  color: #878787;
  font-weight: 500;
  width: 16px;
  height: 16px;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  display: inline-block;
  border: 1px solid #e0e0e0;
  vertical-align: middle;
  margin-left: 7rem;
}
.mobile-view-drop-down {
  cursor: pointer;
  background: #fff;
  padding: 16px;
  width: 100%;
  border: none;
  text-align: left;
  display: flex;
  outline: none;
  justify-content: space-between;
  transition: 0.8s;
}
.mobile-view-drop-down span {
  font-size: 12px;
  font-weight: 600;
  color: #212121;
  text-transform: uppercase;
  letter-spacing: 0.3;
}
.accordion {
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: all 0.8s;
}
.panel {
  padding: 0 18px;
  overflow: hidden;
  display: none;
}
.hamburg svg {
  width: 6px;
  height: 11px;
  fill: #878787;
  transform: rotate(270deg);
  transition: all 0.3s;
}
.hamburg svg:hover {
  transform: rotate(90deg);
}
.check-box {
  display: flex;
  align-items: center;
}
.panel li {
  list-style: none;
}
.panel ul li a {
  list-style: none;
  font-size: 14px;
  color: #212121;
  font-weight: 500;
  margin-left: 1rem;
}
.panel li a {
  color: #212121;
  font-size: 10px;
  font-weight: 400;
}
.check-left {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.help-center {
  margin-top: 2rem;
  text-align: center;
}
.help-font {
  font-size: 14px;
  color: #212121;
  cursor: pointer;
}
.decide-font {
  display: flex;
  align-items: center;
  margin-left: 5rem;
  color: #2874f0;
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
}
.decide-font svg {
  fill: #2874f0;
  width: 0.4rem;
  margin-top: 0.1rem;
  margin-left: 0.2rem;
  transform: rotate(180deg);
}
.left-col-book img {
  margin-top: 1.5rem;
  cursor: pointer;
}
.right-flip-boxes {
  background: #fff;
  flex-grow: 1;
}
.flip-navigation {
  padding: 12px 16px 0;
  border-bottom: 1px solid #f0f0f0;
}
.top-home-navigation {
  display: flex;
  cursor: pointer;
}
.navigation-text {
  font-size: 12px;
  color: #878787;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.navigation-text:hover {
  color: #2874f0;
}
.navigation-text svg {
  width: 0.3rem;
  margin: 0 5px;
  fill: #878787;
  transform: rotate(180deg);
}
.mi-mobile {
  font-weight: 600;
  font-size: 15px;
  margin-top: 8px;
  display: inline-block;
  color: #212121;
}
.mobile-text-navigation {
  display: flex;
  align-content: center;
  margin-top: 8px;
  border-bottom: 2px solid transparent;
}
.mobile-feature {
  font-size: 14px;
  color: #212121;
  padding: 8px 15px 4px 0;
  font-weight: 500;
  font-family: Roboto, Arial, sans-serif !important;
  cursor: pointer;
}
.mobile-feature:hover {
  color: #2874f0;
}
.mobile-wid {
  width: 200px;
  margin: 0 22px;
  position: relative;
}
.mobile-svg img {
  height: 200px;
  margin: 0 auto;
  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.flip-mobiles {
  padding: 24px 0 30px 24px;
  display: block;
  position: relative;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
}
.mobile-bottom-text {
  display: flex;
  margin-top: 3.8rem;
}
.end-text {
  margin-left: 0.5rem;
  font-size: 14px;
  cursor: pointer;
  vertical-align: middle;
  transition: all 0.3s;
}
.end-text:hover {
  font-weight: 600;
}
.mobile-svg-1 img {
  padding-left: 2.5rem;
  height: 200px;
  margin: 0 auto;
  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.heart {
  position: absolute;
  top: 2.5rem;
  left: 13.5rem;
  display: inline-block;
}
.heart svg {
  fill: #c2c2c2;
}
.mobile-right-text {
  margin-left: -0.5rem;
  cursor: pointer;
  display: flex;
}
.mobile-right-text-col {
  margin-left: -1.5rem;
  cursor: pointer;
  display: flex;
}
.mobile-name {
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}
.mobile-name:hover {
  color: #2874f0;
}
.rating-text {
  margin-top: 6px;
  display: flex;
  align-items: center;
}
.text-inner {
  line-height: normal;
  display: inline-block;
  color: #fff;
  padding: 2px 4px 2px 6px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  vertical-align: middle;
  background-color: #388e3c;
}
.review {
  color: #878787;
  margin-left: 0.5rem;
  font-size: 14px;
}
.mobile-specification {
  margin-top: 0.8rem;
}
.spec-mobi::before {
  content: "•";
  color: #c2c2c2;
  padding-right: 8px;
  display: table-cell;
}
.spec-mobi {
  color: #212121;
  display: table;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
}
.mobile-price {
  margin-left: 12.8rem;
}
.mobile-total-price h5 {
  font-size: 25px;
  font-weight: 500;
}
.price-offer {
  text-decoration: line-through;
  color: #878787;
  font-size: 14px;
  margin-top: 5px;
}
.inner-text {
  font-size: 13px;
  margin-left: 0.5rem;
  letter-spacing: -0.2;
  color: #388e3c;
}
.offer {
  display: flex;
  align-items: center;
}
.offer-value {
  margin-top: 5px;
  font-size: 12px;
  white-space: nowrap;
}
.wrapper-text {
  display: flex;
  align-items: center;
}
.tomo h3 {
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0;
  color: #212121;
  margin-top: 2px;
  margin-left: 2px;
  white-space: nowrap;
}
.pagination-flip {
  background: #fff;
  display: block;
  border-top: 1px solid #f0f0f0;
  width: 100%;
  cursor: pointer;
}
.page-flip {
  padding: 10px;
  display: flex;
  align-items: center;
}
.page-text {
  font-size: 14px;
  color: #212121;
  line-height: 2;
  font-weight: 500;
  white-space: nowrap;
}
.page-numbers {
  display: flex;
  margin: 0 18rem;
}
.pagination-number {
  padding: 0 10px;
  font-size: 14px;
  font-weight: 500;
  color: #212121;
  margin-top: 0.5rem;
}
.pagination-number-1 {
  padding: 0 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #2874f0;
  display: grid;
  color: #fff;
  font-weight: 500;
  align-content: center;
  font-size: 12px;
}
.next-text {
  margin: 0 1rem;
  color: #2874f0;
  font-weight: 600;
  font-size: 14px;
  margin-top: 0.5rem;
}
.flip-right-button {
  margin: 10px 0px 0px;
  border-top: 10px solid #f0f0f0;
  padding: 10px 0;
  display: flex;
}
.left-col-text {
  font-weight: 600;
  font-size: 16px;
  color: #212121;
}
.box-text {
  padding: 16px;
  cursor: pointer;
}
.looking-text {
  padding: 16px;
}
.container-text {
  border-radius: 2px;
  border: 1px solid #d7d7d7;
  padding: 6px 28px;
  margin-right: 8px;
  font-weight: 500;
  font-size: 14px;
}
.main {
  background: #f0f0f0;
}
.reviews-col {
  max-width: 99%;
  background: #fff;
  margin: auto;
  padding: 20px 0;
  border-bottom: 1px solid #f0f0f0;
}
.lef-col-text {
  padding: 15px 20px;
  border-bottom: 1px solid #f0f0f0;
}
.text-review {
  font-size: 20px;
  font-weight: 600;
  color: #212121;
}
.col-right-img {
  width: 200px;
  margin: 0 10px;
  position: relative;
}
.left-row-pic img {
  height: 150px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.image-right-text {
  width: 30%;
  margin-top: 1rem;
}
.col-row {
  display: flex;
}
.mobile-name {
  font-size: 18px;
  color: #212121;
  font-weight: 500;
}
.border-rating {
  margin-top: 0.8rem;
}
.rating-four {
  line-height: normal;
  display: inline-block;
  color: #fff;
  padding: 2px 4px 2px 6px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  vertical-align: middle;
  background-color: #388e3c;
}
.rating-fonts {
  color: #878787;
  font-size: 14px;
  margin-left: 0.5rem;
}
.price-font {
  display: flex;
  margin-top: 0.5rem;
}
.price-font span {
  font-size: 14px;
  font-weight: 600;
}
.offer-price {
  margin-left: 0.5rem;
  color: #878787;
  font-size: 13px;
}
.mobile-details {
  list-style: none;
  margin-top: 0.8rem;
}
.mobile-feat {
  padding-bottom: 0.5rem;
  font-size: 14px;
  color: #212121;
}
.purchase-details {
  margin-top: 1rem;
  width: 30%;
}
.font-review {
  color: #878787;
  font-size: 14px;
}
.five-star {
  line-height: normal;
  display: inline-block;
  color: #fff;
  padding: 2px 4px 2px 6px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  vertical-align: middle;
  background-color: #388e3c;
}
.review-rate {
  margin-top: 0.8rem;
}
.five-text {
  margin-left: 0.5rem;
  color: #212121;
  font-size: 14px;
  font-weight: 600;
}
.purchase-para {
  font-size: 14px;
  color: #212121;
  overflow: hidden;
  margin: 12px 0;
  line-height: 1.4;
}
.end-text-2 {
  color: #2874f0;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
}
.end-text-cus {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  flex-wrap: wrap;
}
.cus-1 {
  color: #878787;
  cursor: pointer;
  font-size: 12px;
  margin-right: 0.5rem;
  white-space: nowrap;
}
.buyer-text {
  color: #878787;
  cursor: pointer;
  font-size: 12px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  white-space: nowrap;
}
.month-text {
  color: #878787;
  cursor: pointer;
  font-size: 12px;
  margin-right: 0.5rem;
  white-space: nowrap;
}
.recent-text {
  width: 30%;
  margin-top: 1rem;
  margin-left: 1rem;
}
.review-font {
  font-size: 14px;
  color: #878787;
  font-weight: 500;
  cursor: pointer;
}
.stars-rating {
  margin-top: 0.8rem;
}
.five-star-2 {
  line-height: normal;
  display: inline-block;
  color: #fff;
  padding: 2px 4px 2px 6px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  vertical-align: middle;
  background-color: #388e3c;
}
.briliant {
  font-size: 14px;
  color: #212121;
  font-weight: 600;
  cursor: pointer;
  margin-left: 0.5rem;
}
.mob-quality {
  margin-top: 0.8rem;
}
.pefomance {
  font-size: 14px;
  line-height: 1.4;
  color: #212121;
  overflow: hidden;
}
.last-update {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  flex-wrap: wrap;
  white-space: nowrap;
}
.nas {
  color: #878787;
  cursor: pointer;
  font-size: 12px;
  margin-right: 0.5rem;
}
.days-text {
  color: #878787;
  cursor: pointer;
  font-size: 12px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.buy {
  color: #878787;
  cursor: pointer;
  font-size: 12px;
  margin-right: 0.5rem;
}
.footer-1 {
  background-color: #f0f0f0;
  border-top: 8px solid #f0f0f0;
}
.border-bottom-line {
  border-bottom: 1px solid #454d5e;
}
.footer-menu {
  background-color: #172337;
  max-width: 100%;
  margin-top: 2rem;
}
.footer-content {
  max-width: 90% !important;
  margin: auto;
  display: flex;
}
.footer-list {
  list-style: none;
  padding-top: 3rem;
  width: 15%;
}
.footer-head {
  font-size: 12px;
  color: #878787;
  font-weight: 600;
  margin-bottom: 9px;
}
.footer-list-content {
  color: #fff;
  font-size: 12px;
  line-height: 2;
}
.footer-list-content:hover {
  text-decoration: underline;
}
.footer-list-end {
  padding-top: 3rem;
  width: 25%;
}
.border-line {
  border-left: 1px solid #ddd;
  padding: 0 25px;
}
.footer-head-end {
  color: #878787;
  font-size: 12px;
  font-weight: 600;
}
.footer-list-para {
  font-size: 12px;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 1rem;
  line-height: 1.4;
}
.footer-list-para a {
  color: #2874f0;
}
.footer-cards {
  max-width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 25px 0;
  white-space: nowrap;
  margin-top: 2rem;
  justify-content: space-evenly;
  justify-content: space-around;
}
.flip-cards {
  text-align: left;
}
.card-text {
  margin-left: 0.5rem;
  color: #fff;
  font-size: 14px;
}
.year-flip {
  margin-left: 0.5rem;
}
.year-fonts {
  color: #fff;
  font-size: 14px;
  white-space: nowrap;
}
.flip-webi {
  font-size: 14px;
  color: #fff;
  white-space: nowrap;
}
@media screen and (max-width: 1140px) {
  .flip-navigation-menu {
    min-height: 16px;
  }
  .flip-wrapper {
    height: 25px;
    margin-left: 16%;
    max-width: 90%;
  }
  .navigation li a {
    font-size: 5px;
  }
  .navigation {
    max-width: 98%;
    height: 10px;
  }
  .navigation-svg {
    margin: 0;
    width: 0.2rem;
  }
  .flip-svg {
    width: 3rem;
  }
  .flip-explore-text a {
    font-size: 6px;
  }
  .flip-explore-text span {
    font-size: 6px;
  }
  .flip-explore-text {
    margin-top: -13px;
  }
  .search-container {
    width: 45%;
    margin-left: 0.3rem;
    height: 1rem;
  }
  .search-container input {
    height: 16px;
    padding-top: 0;
    padding-bottom: 0;
    /* font-size: 2px; */
  }
  .search-button svg {
    height: 1rem;
  }
  .login-wrapper {
    margin-left: 0.7rem;
  }
  .login-container {
    padding: 4px 18px;
    font-size: 5px;
  }
  .flip-more {
    margin: 0 1rem;
  }
  .text-more {
    font-size: 6px;
    margin-top: 0.2rem;
  }
  .add-cart-svg {
    width: 0.5rem;
    margin-right: 0.2rem;
  }
  .cart-text {
    font-size: 6px;
    margin-right: 1rem;
  }
  .dwon-arrow-svg {
    margin: -3px 0px 0px 4px;
    width: 0.2rem;
  }
  .mobile-price {
    margin-left: 0.5rem;
  }
  .image-right-text {
    overflow: hidden;
    width: calc(100% - 200px);
  }
  .purchase-details {
    overflow: hidden;
    width: calc(100% - 200px);
  }
  .recent-text {
    overflow: hidden;
    width: calc(100% - 200px);
  }
  .col-right-img {
    width: 100px;
  }
  .col-right-img img {
    height: 90px;
  }
  .five-text {
    margin-left: 0;
    font-size: 12px;
  }
  .briliant {
    font-size: 12px;
    margin-left: 0;
  }
  .review-rate {
    margin-top: 1.8rem;
  }
  .stars-rating {
    margin-top: 2.9rem;
  }
  .flip-side-nav-larger {
    padding: 5px;
    gap: 4px;
  }
  .filter-col {
    padding: 0;
    max-width: 140px;
  }
  .filter-text {
    font-size: 12px;
    padding: 8px;
  }
  .category-col {
    padding: 5px;
  }
  .text-1 {
    font-size: 10px;
  }
  .text-2 {
    padding: 0;
  }
  .left-svg a {
    font-size: 10px;
  }
  .left-svg svg {
    width: 0.2rem;
  }
  .option-min {
    margin: 0;
  }
  .letter-price {
    font-size: 10px;
  }
  .circle-line-2 {
    right: -104px;
  }
  .assure-image img {
    width: 3rem;
  }
  .mobile-view-drop-down span {
    font-size: 8px;
  }
  .hamburg svg {
    width: 3px;
  }
  .decide-font {
    margin-left: 1.5rem;
    font-size: 14px;
  }
  .left-col-book img {
    margin-left: 2rem;
    margin-top: 0.8rem;
  }
  .navigation-text {
    font-size: 11px;
  }
  .mi-mobile {
    font-size: 12px;
  }
  .mobile-feature {
    font-size: 12px;
  }
  .mobile-wid {
    width: 120px;
    margin: 0 0px;
  }
  .mobile-svg img {
    height: 120px;
    margin: 0;
  }
  .mobile-right-text {
    margin-left: 0.8rem;
    width: 42.5%;
  }
  .mobile-bottom-text {
    margin-top: 0.8rem;
  }
  .flip-mobiles {
    padding: 24px 0 30px 10px;
  }
  .end-text {
    font-size: 12px;
  }
  .heart {
    left: 6.5rem;
  }
  .mobile-name {
    font-size: 14px;
  }
  .spec-mobi {
    font-size: 12px;
  }
  .text-review {
    font-size: 14px;
  }
  .footer-head
  {
    font-size: 6px;
  }
  .footer-list-content
  {
    font-size: 6px;
    line-height: -5;
  }
  .footer-head-end
  {
    font-size: 6px;
  }
  .footer-list-para
  {
    font-size: 6px;
  }
  .card-text
  {
    font-size: 6px;
    margin-left: 0;
  }
  .year-fonts
  {
    font-size: 6px;
  }
  .flip-cards img
  {
    width: 0.3rem;
    margin-top: 0.5rem;
  }
  .flip-webi
  {
    font-size: 6px;
  }
  .footer-cards-visa img
  {
    width: 6rem;
  }
  .footer-1
  {
    border-top: 1px solid #f0f0f0;
  }
  .footer-menu
  {
    margin-top: 1rem;
  }
  .footer-list
  {
    padding-top: 1rem;
  }
  .footer-cards
  {
    padding: 0;
    padding-bottom: 1rem;
  }
  .footer-list-end
  {
    padding-top: 1rem;
  }
  .section2-heading
  {
    font-size: 6px;
  }
  .heading 
  {
    font-size: 5px;
  }
}
