* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Roboto, Arial, sans-serif;
}
.flip-nav {
  max-width: 100%;
  height: 100%;
  background: #2874f0;
  position: relative;
}
.flip-wrapper {
  /* min-width: 978px; */
  max-width: 76%;
  height: 56px;
  color: #f0f0f0;
  z-index: 10;
  margin: auto;
  display: flex;
  align-items: center;
}
.left-flip-log {
  /* min-width: .3rem;
	max-width: 5rem; */
  display: flex;
  margin-left: 1.4rem;
  flex-direction: column;
  white-space: nowrap;
}
.flip-explore-text {
  align-items: center;
  display: block;
  white-space: nowrap;
  margin-top: -9px;
}
.flip-svg {
  width: 6.4rem;
  margin: 0;
  padding: 0;
  line-height: 1.1;
}
.flip-explore-text a {
  font-size: 11px;
  font-style: italic;
  color: #f0f0f0;
  margin-top: -2px;
  letter-spacing: 0;
}
.flower {
  width: 0.5rem;
  filter: brightness(1.5);
  margin-left: -4px;
  padding: 0;
  margin: 0;
}
.flip-explore-text span {
  color: #ffe500;
  font-size: 11px;
  font-style: italic;
  font-weight: 600;
  margin-left: -3px;
  cursor: pointer;
}
.flip-explore-text:hover {
  text-decoration: underline;
}
.search-container {
  width: 56.2%;
  margin-left: -0.9rem;
  display: flex;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
}
.search-container input {
  width: 100%;
  /* min-width: 304px; */
  height: 2.2rem;
  font-size: 14px;
  padding-top: 12px;
  padding-left: 15px;
  padding-bottom: 12px;
  padding-right: 12px;
  border: none;
  outline: none;
  border-radius: 2px 0 0 2px;
  background-color: #fff;
}
::-webkit-input-placeholder {
  font-size: 13px;
  letter-spacing: 0.5px;
  background: transparent;
}
.search:focus {
  outline: none;
}
.search-button svg {
  fill: #2874f0 !important;
  border: 1px solid #fff;
  background-color: #fff;
  height: 32px;
  width: 41px;
  border-radius: 2px;
  padding: 4px 12px 0 8px;
}
.search-button {
  border: none;
  background: none;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: all 0.3s;
}
.login-wrapper {
  margin-left: 3.7rem;
}
.login-container {
  background: #fff;
  color: #2874f0;
  font-weight: 700;
  font-size: 15px;
  padding: 7px 41px;
  white-space: nowrap;
}
.drop-menu-content {
  background-color: #fff;
  border: 1px solid transparent;
  width: 100%;
  position: absolute;
  z-index: 999;
  left: 0;
  top: 2.7rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
}
.flip-more {
  margin: 0 2.5rem;
  cursor: pointer;
  display: block;
}
.text-more {
  font-size: 15px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.arrow-flex {
  display: flex;
}
.dwon-arrow-svg {
  width: 0.3rem;
  fill: #f0f0f0;
  transform: rotate(270deg);
  margin: 1px 0 0 7px;
  transition: all 0.1s;
}
.dwon-arrow-svg:hover {
  transform: rotate(90deg);
}
.cart-content {
  display: flex;
  cursor: pointer;
}
.cart-text {
  display: flex;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.add-cart-svg {
  width: 1rem;
  fill: #fff;
  display: flex;
  margin-right: 10px;
}
.flip-navigation-menu {
  background: #fff;
  min-height: 40px;
  position: relative;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
}
.navigation {
  max-width: 90%;
  height: 40px;
  margin: auto;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.navigation li {
  list-style: none;
}
.navigation li a {
  color: #000;
  font-size: 13px;
  line-height: 1.4;
  padding-bottom: 20px;
  letter-spacing: 0;
  font-weight: 600;
}
.navigation-svg {
  fill: #878787;
  opacity: 0.5;
  margin-left: 8px;
  transform: rotate(270deg);
}
.electric-drop-menu {
  background-color: #fff;
  border: 1px solid transparent;
  width: 95%;
  position: absolute;
  z-index: 999;
  left: 30px;
  top: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
}
.electronic-drop-down:hover .electric-drop-menu {
  display: block;
}
.drop-down-details {
  margin: 10px 20px;
  display: flex;
}
.section-1 {
  width: 22%;
}
.heading {
  font-size: 13px;
  padding: 8px 0;
  color: #212121;
  font-weight: 500;
}
.section-1 li {
  padding: 5px 0;
}
.section-1 li a {
  color: #878787;
  font-size: 12px;
}
.section-2 {
  width: 22%;
}
.section-2 li {
  padding: 5px 0;
}
.section-2 li a {
  color: #878787;
  font-size: 12px;
}
.section2-heading {
  font-size: 13px;
  color: #212121;
  font-weight: 600;
}
.section-3 {
  width: 22%;
}
.section-3 li {
  padding: 5px 0;
}
.section-3 li a {
  color: #878787;
  font-size: 12px;
}
.section-4 {
  width: 22%;
}
.section-4 li {
  padding: 5px 0;
}
.section-4 li a {
  color: #878787;
  font-size: 12px;
}
.section-5 {
  width: 22%;
}
.section-5 li {
  padding: 5px 0;
}
.section-5 li a {
  color: #878787;
  font-size: 12px;
}
.tv-drop-menu {
  background-color: #fff;
  border: 1px solid transparent;
  width: 95%;
  position: absolute;
  z-index: 999;
  left: 30px;
  top: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
}

.tv-drop-down:hover .tv-drop-menu {
  display: block;
}
.men-drop-menu {
  background-color: #fff;
  border: 1px solid transparent;
  width: 95%;
  position: absolute;
  z-index: 999;
  left: 30px;
  top: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
}
.men-drop-down:hover .men-drop-menu {
  display: block;
}
.women-drop-menu {
  background-color: #fff;
  border: 1px solid transparent;
  width: 95%;
  position: absolute;
  z-index: 999;
  left: 30px;
  top: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
}
.women-drop-down:hover .women-drop-menu {
  display: block;
}
.baby-drop-menu {
  background-color: #fff;
  border: 1px solid transparent;
  width: 95%;
  position: absolute;
  z-index: 999;
  left: 30px;
  top: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
}
.baby-drop-down:hover .baby-drop-menu {
  display: block;
}
.home-drop-menu {
  background-color: #fff;
  border: 1px solid transparent;
  width: 95%;
  position: absolute;
  z-index: 999;
  left: 30px;
  top: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
}
.home-drop-down:hover .home-drop-menu {
  display: block;
}
.sports-drop-menu {
  background-color: #fff;
  border: 1px solid transparent;
  width: 95%;
  position: absolute;
  z-index: 999;
  left: 30px;
  top: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
}
.sports-drop-down:hover .sports-drop-menu {
  display: block;
}
@media screen and (min-width:340px) and (max-width: 1140px) {
  .flip-wrapper {
    height: 40px;
	margin-left: 16%;
	max-width: 90%;
  }
  .navigation li a {
    font-size: 10px;
  }
  .navigation {
    max-width: 98%;
	height: 25px;
  }
  .navigation-svg {
    margin: 0;
    width: 0.2rem;
  }
  .flip-svg {
    width: 5rem;
  }
  .flip-explore-text a
  {
	  font-size: 8px;
  }
  .flip-explore-text span 
  {
	  font-size: 8px;
  }
  .search-container
  {
	  width: 35%;
  }
  .search-container input
  {
	  height: 1.8rem;
  }
  .search-button svg
  {
	  height: 1.6rem;
  }
  .login-wrapper
  {
	  margin-left: 0.7rem;
  }
  .login-container
  {
	  padding: 4px 28px;
	  font-size: 12px;
  }
  .flip-more
  {
	  margin: 0 1rem;
  }
  .text-more
  {
	  font-size: 10px;
  }
  .dwon-arrow-svg
  {
	  margin: -3px 0px 0px 4px;
  }
}
